[project]
	description = m2eclipse project repository (m2e-core)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dzaisban
[access "refs/for/refs/*"]
	read = group user/dzaisban
	push = group user/dzaisban
	label-Code-Review = -2..+2 group user/dzaisban
	label-Verified = -1..+1 group user/dzaisban
	rebase = group user/dzaisban
	removeReviewer = group user/dzaisban
	submit = group user/dzaisban
[access "refs/heads/*"]
	read = group user/dzaisban
	create = group user/dzaisban
	push = +force group user/dzaisban
	pushMerge = group user/dzaisban
[access "refs/tags/*"]
	push = +force group user/dzaisban
	pushTag = group user/dzaisban
	pushSignedTag = group user/dzaisban
